@charset "utf-8";
/* CSS Document */
canvas {
            width: 80%;
            height: 600px; /* Fixed height for the chart */
			background-color: rgba(255,255,255,0.88);
			border-radius: 20px;
	    display: flex;
    	justify-content: center;
    	align-items: center;
		padding: 30px;
		
        }
        .chart-container {
            
			align-content: center;
			display: flex;
			width:60%;
			max-width:1200px;
			justify-content: center;
			height:auto;
			margin: 0px auto;
			
			
        }
