@charset "utf-8";
/* CSS Document */

footer{
    /*background-color:rgba(0,0,0,0.88);*/
    color: white;
    padding: 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
   	/*border-top: 8px solid #ddb50d;*/

	margin-top: auto;
	height:100%;
	min-height:220px;
	max-height:300px;
	flex-wrap: wrap;
	/*background-image: url("img/g/footerheroalt.png");*/
	background-position: top center;
	background-repeat: repeat-x;
	background-size: contain;
	width: 100%;
	display: flex;
	align-items: stretch;
	z-index: 1;
	overflow: visible;
	background-image: url("img/g/goldframetopbot.png");
	background-position: bottom;
	background-repeat: repeat-x;
	
	
}

footer .crescent{
	max-height:300px!important;
	height: 100%;
	
}
.crescentLeft{right:auto;}
.crescentRight{left:auto;}