@charset "utf-8";
/* CSS Document */
html, body{margin:0px!important;padding:0px!important;}
        body {
            font-family: Arial, sans-serif;
            /*background-color: #1a1a1a;*/
            color: #f0f0f0;
            margin: 0px!important;
            padding: 0px!important;
			background-image:url("img/g/footerbgheroalt.png");
			background-position:center 100px;
			background-repeat:repeat-x;
			/*background-color:#1F2027;*/
			background-color: #000;
			background-size:auto;
			background-attachment: fixed;
			
        }
        h1,h2 {
            color:  #f0f0f0;
            text-align: center;
        }
		h3,h4{
			color:#A66C00;
			/*color: #333C4B;*/
            text-align: center;
		}
        .container {
            max-width: 100%;
            margin: 0 auto;
			background-color:rgba(0,0,0,0.88);
			/*border-radius:0px 0px 20px 20px;*/
			/*backdrop-filter: blur(10px);*/
			background-blend-mode:darken;
			padding-bottom:0%;
			padding-top:1%;
			/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
			
        }
        table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 20px;
			margin-right: auto;
			margin-left:auto;
			
			
        }
        th, td {
            padding: 10px;
            border: 1px solid #3a3a3a;
            text-align: center;
            cursor: pointer;
        }
        th {
            background-color: #2a2a2a;
            color: #A66C00;
        }
        td {
            background-color: #2a2a2a;
        }
        .highlight {
            background-color: #A66C00;
            color: #1a1a1a;
        }
        .highlight th, .highlight td {
            background-color: #A66C00;
            color: #1a1a1a;
        }
        .search-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .search-container input[type="number"] {
            padding: 10px;
            font-size: 16px;
            width: 150px;
            margin-right: 10px;
            border: 1px solid #3a3a3a;
            border-radius: 5px;
            background-color: #1a1a1a;
            color: #f0f0f0;
        }
        .search-container button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #E0A001;
            color: #1a1a1a;
            cursor: pointer;
        }
        .search-container button:hover {
            background-color: #F0B201;
        }
        .search-container button:disabled {
            background-color: #777777;
            cursor: not-allowed;
        }
        @media (max-width: 600px) {
            th, td {
                padding: 5px;
                font-size: 12px;
            }
            .search-container input[type="number"], .search-container button {
                font-size: 12px;
                padding: 8px;
            }
        }
.hAlignment{width:100%;}